.bg-anima {
    background-image: linear-gradient(to right, #1c83f6, #0F23DA);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* camada */
    z-index: 9999;

    animation: fundo 1s forwards;
    animation-delay: 1s;
}

@keyframes fundo {

    0% {
        opacity: 100%;
    }
    
    100% {
        opacity: 0;
    }

}

.anima h2 {
    color: white;
    font-size: 64px;

    /* animation-name: texto;
    animation-duration: 2s; */
    animation: texto 2s forwards;
}

@keyframes texto {
    /* inicial*/
    0%{
        opacity: 100%;
        letter-spacing: 0;
        margin-bottom: 0;
    }
    /* meio */
    50% {
        opacity: 100%;
        letter-spacing: 20px;
        margin-bottom: 20px;
    }
    /* final */
    100% {
        letter-spacing: 0;
        margin-bottom: 0;
        opacity: 0;
    }

}