@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Maven Pro', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(89, 254, 155, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #BDBDBD;
}